<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>hi hi</title>
</head>
<body>

		<%	users.forEach(function(user){ %>
		<%= user.name %>
		<br>
		<%= user.age %>
		<br>
		<%= user.country %>
		<% });%>
</body>
</html>